@model IEnumerable<EmployeeManagement.Models.Employee>

<div class="row">
    @foreach (var emp in Model)
    {
        var photoPath = "~/images/" + (emp.PhotoPath ?? "download.png");
        <div class="col-sm-4 col-md-4">
            <div class="card m-3">
                <div class="card-header">
                    <h3>@emp.Name</h3>
                </div>
                @*using image tag helper ---> asp-append-version*@
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <form asp-controller="Employee" asp-action="Delete" 
                          asp-route-id="@emp.Id" method="post">
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@emp.Id"
                           class="btn btn-primary m-1">View</a>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id"
                           class="btn btn-primary m-1">Edit</a>
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete Employee: @emp.Name')">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>

    }
</div>
 